@import "reset";

/*
*  Variables for everything
*/
$box-padding: 20px;
$box-padding-half:10px;

$border-radius:5px;

$color-dark:#333;
$color-notsodark: rgb(55, 71, 79);
$color-lighter: rgb(207, 216, 220);
$light-font-color:white;
$color-dark-transparent:rgba(0, 0, 0, 0.3);
$color-notasdark-transparent:rgba(255,255,255,.5);
$color-active:rgb(211,25,150);

$animation-speed: .5s;

$font-family-sans: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*
*  Styles for everything
*/
body.geotagger {

  font-size: 20px;
  line-height: 27px;
  color:$color-dark;
  max-width:1024px;
  margin:0 auto;
  font-family: $font-family-sans;
  font-weight: 300;
  letter-spacing: .09em;

  a {
    text-decoration:none;
    color:#708D91;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-sans;
    color:$color-dark;
    font-weight: 600;
    line-height:1em;
  }

  input, button, select {
    outline:none;
  }

  h1 {
    font-size:150%;
    margin-bottom:$box-padding-half;
  }

  p {
    margin-bottom:$box-padding-half;
  }

  .subdue {
    color:#AAA;
  }

  .area {
    padding:0 $box-padding-half;
  }

  div, section {
    box-sizing:border-box;
  }

  button {
    background-color:rgba(255,255,255,.5);
    color:white;
    border:solid 1px $color-active;
    font-size: 75%;
    padding: 5px;
    color:$color-active;
    cursor:pointer;
    display:inline-block;

    &.active {
      background-color:$color-active;
      color:$light-font-color;
    }

    &.selected {
      color:$light-font-color;
      border:solid 1px $light-font-color;
    }
  }

  //
  // Common layout sections
  //
  .user-message {
    padding:$box-padding-half;
    font-size:75%;
    line-height:1em;
    display:block;
    background-color:#A1D9ED;
  }

  header {

    margin-top:$box-padding-half;
    font-size:75%;
    border-bottom: solid 1px rgba(0,0,0,.1);
    margin-bottom:$box-padding;

    h1 {
      font-weight:normal;
    }
  }

  footer {
    font-size:75%;
    border-top: solid 1px rgba(0,0,0,.1);
    padding:$box-padding $box-padding-half;

    li {
      padding:0;
      margin:0;
    }
  }

  .view {
    &.logged-out {

      height:70vh;

      h1 {
        margin: 10% 0 $box-padding 0;
      }

      p {
        margin: $box-padding;
      }

      text-align:center;
    }

    &.view-credit {
      h2, ul, p {
        margin-bottom:$box-padding;
      }

      h2 {
        font-size:150%;
      }

      p {
        color:$color-active;
      }
    }

    &.view-home {
      ul {
        li {
          margin-bottom:$box-padding-half;
          font-size:75%;

          img {
            width:100%;
          }

          .place {
            font-size:75%;
          }
        }
      }
    }

    &.view-photo {

      h2 {
        margin-bottom:$box-padding-half;
      }

      .photo-area {

        width:100%;

        img {
          width:500px;
          min-width:100%;
        }

      }

      .location-info-area {
        font-size:75%;
      }

      .actions {
        margin-bottom:$box-padding;
      }

      .photo-map-overlay {
        background-color:rgba(255,255,255,.95);
        padding: $box-padding;
        opacity:0;
        transition:.5s opacity;

        &.showing {
          opacity:1;
        }

        .actions {
          position:absolute;
          top:$box-padding-half;
          right:$box-padding-half;

          z-index:2;
        }

        .map-area {

          position:absolute;
          top:0;
          right:0;
          left:0;
          height:100vh;
          z-index:1;

          .photo-map {
            height:100%;
            width:100%;
          }

          .pinwin {
            background-image:url("pinwin.svg");
            background-repeat: no-repeat;
            width: 98px !important;
            height: 118px !important;
            margin-left: -49px !important;
            margin-top: -34px !important;
            position:relative;

            .photo {
              position: absolute;
              bottom: 4px;
              left: 3px;
              height: 69px;
              width: 91.5px;
              background-repeat:no-repeat;
              background-size:contain;
              background-position:center center;
              background-color:rgba(255,255,255,.7);
            }
          }
        }
      }
    }
  }

}
