@import "reset";

/*
*  Variables for everything
*/
$box-padding: 20px;
$box-padding-half:10px;

$border-radius:5px;

$color-dark:#333;
$color-notsodark: rgb(55, 71, 79);
$color-lighter: rgb(207, 216, 220);
$light-font-color:white;
$color-dark-transparent:rgba(0, 0, 0, 0.3);
$color-notasdark-transparent:rgba(27,30,88,.5);
$color-active:rgb(211,25,150);

$animation-speed: .5s;

$font-family-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
/*
*  Styles for everything
*/
body.geotagger {

  font-size: 22px;
  line-height: 27px;
  color:$color-dark;
  max-width:1024px;
  font-family: $font-family-sans;
  font-weight: 300;
  letter-spacing: .09em;

  a {
    text-decoration:none;
    color:#708D91;
  }

  h1, h2, h3, h4 {
    font-family: $font-family-sans;
    color:$color-dark;
    font-weight: 600;
  }

  input, button, select {
    outline:none;
  }

  h1 {
    font-size:150%;
    margin-bottom:$box-padding-half;
  }

  p {
    margin-bottom:$box-padding-half;
  }

  button {
    background-color:transparent;
    color:white;
    border:solid 1px $color-active;
    font-size: 75%;
    padding: 5px;
    color:$color-active;
    cursor:pointer;
    display:inline-block;

    &.active {
      background-color:$color-active;
      color:$light-font-color;
    }

    &.selected {
      color:$light-font-color;
      border:solid 1px $light-font-color;
    }
  }

  //
  // Common layout sections
  //
  header {
  }

  footer {
  }

  .view {
    margin:$box-padding;
    &.logged-out {
      h1 {
        margin: 10% 0 $box-padding 0;
      }

      p {
        margin: $box-padding;
      }

      text-align:center;
    }

    &.view-home {

    }

    &.view-photo {
      .photo-area {

        width:50%;
        border:solid 1px red;
        display:inline-block;

        img {
          width:500px;
          min-width:100%;
        }
      }
      .map-area {

        width:50px;
        border:solid 1px blue;
        display:inline-block;

        #map {
          width:500px;
          height:500px;
        }
      }
    }
  }

}
