<div class="view logged-out">

	<h1>Dead fucking simple Geotagging</h1>

	<p>Put your photos on the Flickr map and choose location names for them.</p>

	<button class="active" onclick="(function() {location.href='/auth/flickr';}());">Sign in with Flickr</button>

</div>
