<section>
  <div class="actions">
    <!--button class="action edit">Edit</button-->
    <button class="action close">Close</button>
  </div>
  <div class="map-area">
    <div id="photo-map" class="photo-map"></div>
  </div>
</section>
