<div class="view view-credit area">

	<h2>Credits</h2>

	<ul>
		<li><b>Map tiles:</b> <a href="http://stamen.com">Stamen Design</a></li>
		<li><b>Map data:</b> <a href="http://www.openstreetmap.org/copyright">OpenStreetMap contributers (All rights reserved)</a></li>
		<li><b>SVG paths:</b> <a href="https://thenounproject.com">The noun project</a> member "<a href="http://thenounproject.com/term/note/54998/">Mundo</a>"</li>
		<li><b>Development & Support:</b> <a href="http://standardpixel.com">Eric Gelinas</a></li>
	</ul>

	<p>Thank you</p>

</div>
