<div class="view-home logged-out">

	<h1>Dead Fucking Simple Geotagging</h1>

	<p>Put your photos on the Flickr map and choose location names for them.</p>

	<button class="active">Sign in with Flickr</button>

</div>
